* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "sans-serif";
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &-Container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0px;
  }

  &.dark {
    background-color: $background-color_dark;

    h1, h2, h3, p {
      color: $base-color_dark;
    }

    .Header {
      &-Nav {
        &-Mode {
          &-Btn {
            background-color: #fff;
            
            &::after {
              background-color: #F5B102;
              transform: translateX(100%);
            }
          }
        }

        &-Links {
          a {
            color: $base-color_dark; 

            &::after {
              background-color: $base-color_dark;
            }
          }
        }
      }

      &-Logo {
        span {
          color: $base-color_dark;
        }
      }
    }

    .ProjectBanner {
      background-color: $pink-color_dark;

      &-Title {
        color: $background-color_dark;
      }
    }

    .Footer {
      &-Banner {
        background-color: $pink-color_dark;

        &-Copyright {
          color: #fff;
        }
      }
    }

    .Resume {
      &-Name,
      &-Name-Mobile {
        color: $base-color_dark;
      }

      &-Details {
        &-Image {
          &::after {
            background-color: $pink-color_dark;
          }
        }

        li {
          color: $base-color_dark;
        }
      }
    }

    .ProjectDetails {
      &-BackBtn {
        color: $base-color_dark;

        &::after {
          background-color: $base-color_dark;
        }
      }

      &-Content {
        img {
          border-radius: 30px;
        }

        a {
          color: $base-color_dark;

          &::after {
            background-color: $base-color_dark;
          }
        }
      }
    }

    .ProjectCard {
      &-Title {
        &::after {
          background-color: $base-color_dark;
        }
      }

      &-Thumbnail {
        img {
          border-radius: 30px;
        }
      }
    }

    .Project {
      &-Title {
        a {
          color: $base-color_dark;

          &::after {
            display: none;
          }
        }

        &::after {
          background-color: $base-color_dark;
        }
      }

      a {
        color: $base-color_dark;

        &::after {
          color: $base-color_dark;
        }
      }
    }
  }
}
